<div class="container">
  <h1 class="mt-5">Kontakt</h1>

  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="name">Imię i nazwisko:</label>
          <input type="text" class="form-control" id="name" placeholder="Wprowadź imię i nazwisko">
        </div>
        <div class="form-group">
          <label for="email">Adres e-mail:</label>
          <input type="email" class="form-control" id="email" placeholder="Wprowadź adres e-mail">
        </div>
        <div class="form-group">
          <label for="message">Wiadomość:</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Wprowadź wiadomość"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
      </form>
    </div>

    <div class="col-md-6">
      <h4>Dane kontaktowe:</h4>
      <p>Telefon: 536 806 066</p>
      <p>E-mail: janir3g@gmail.com</p>
    </div>
  </div>
</div>
