<div class="container">
  <h1 class="mt-5">Cennik korepetycji</h1>

  <h2>Matematyka</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Poziom</th>
        <th>Cena za godzinę</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Szkoła średnia (poziom podstawowy i rozszerzony)</td>
        <td>60 zł</td>
      </tr>
      <tr>
        <td>Studia (Statystyka, Analiza Matematyczna I, Algebra Liniowa)</td>
        <td>70 zł</td>
      </tr>
    </tbody>
  </table>

  <h2>Język francuski</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Poziom</th>
        <th>Cena za godzinę</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Szkoła średnia</td>
        <td>50 zł</td>
      </tr>
      <tr>
        <td>Studia (nauka do egzaminu, praca domowa, mówienie)</td>
        <td>60 zł</td>
      </tr>
    </tbody>
  </table>
</div>
